<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../static/CarListingStyle.css" rel="stylesheet"/>
  <title>
   Search Results
  </title>
  <style>
   dt {
                  grid-column-start: 1;
                 /* margin-left: 20px; */
                  font-weight:700;             
              }
  
              dd {
                  grid-column-start: 2;
                  margin-left: 20px;
                  border-bottom: 2px solid #cfcfcf;
                  padding-left: 50px;
                  
              }
  </style>
 </head>
 <body>
  <div class="container">
   <h2 class="car-info-heading">
    Car Information
   </h2>
   <div class="car-details">
    <dl class="description-list">
     <dt>
      Make
     </dt>
     <dd id="c_make">
      Default Make
     </dd>
     <dt>
      Model
     </dt>
     <dd id="c_model">
      Default Model
     </dd>
     <dt>
      Year
     </dt>
     <dd id="c_year">
      Default Year
     </dd>
     <dt>
      Color
     </dt>
     <dd id="c_color">
      Default Color
     </dd>
     <dt>
      Transmission
     </dt>
     <dd id="c_trans">
      Default Trans
     </dd>
     <dt>
      Engine
     </dt>
     <dd id="c_engine">
      Default Engine
     </dd>
     <dt>
      Price
     </dt>
     <dd id="c_price">
      Default Price
     </dd>
     <dt>
      Zipcode
     </dt>
     <dd id="c_zipcode">
      Default Zipcode
     </dd>
    </dl>
   </div>
   <div class="contact-form-container">
    <header class="">
     <h2 class="contact-form-heading">
      Contact seller
     </h2>
    </header>
    <form action="/action_page.php">
     <label for="fname">
      First name:
     </label>
     <input id="fname" name="fname" type="text"/>
     <br/>
     <br/>
     <label for="lname">
      Last name:
     </label>
     <input id="lname" name="lname" type="text"/>
     <br/>
     <br/>
     <label for="email">
      Email:
     </label>
     <input id="email" name="email" type="text"/>
     <br/>
     <br/>
     <div class="comments">
      <div class="sds-input-container sds-input-container--textarea">
       <textarea class="sds-text-field comment-box" id="comments" name="lead[comments]" phx-debounce="blur" placeholder=" ">I'd like to know if the new 2020 Tesla model 5, is still available.</textarea>
       <label class="sds-label" for="comments">
        Comments
       </label>
      </div>
     </div>
     <input type="submit" value="Submit"/>
    </form>
   </div>
  </div>
 </body>
</html>