<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../static/style.css" rel="stylesheet"/>
  <title>
   Search Results
  </title>
  <style>
   dl {
                display: grid;
                grid-template-columns: max-content auto;
            }

            dt {
                grid-column-start: 1;
                margin-left: 20px;
            }

            dd {
                grid-column-start: 2;
                margin-left: 20px;
            }
  </style>
 </head>
 <body>
  <div class="car-details">
   <dl class="description-list">
    <dt>
     Make
    </dt>
    <dd id="c_make">
     Tesla
    </dd>
    <dt>
     Model
    </dt>
    <dd id="c_model">
     Default Model
    </dd>
    <dt>
     Year
    </dt>
    <dd id="c_year">
     Default Year
    </dd>
    <dt>
     Color
    </dt>
    <dd id="c_color">
     Default Color
    </dd>
    <dt>
     Transmission
    </dt>
    <dd id="c_trans">
     Default Trans
    </dd>
    <dt>
     Engine
    </dt>
    <dd id="c_engine">
     Default Engine
    </dd>
    <dt>
     Price
    </dt>
    <dd id="c_price">
     Default Price
    </dd>
    <dt>
     Zipcode
    </dt>
    <dd id="c_zipcode">
     Default Zipcode
    </dd>
   </dl>
  </div>
 </body>
</html>